.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    box-sizing: border-box;
}

:root {
    --Very_Dark_Grayish_Blue: hsl(217, 19%, 35%);
    --Desaturated_Dark_Blue: hsl(214, 17%, 51%);
    --Grayish_Blue: hsl(212, 23%, 69%);
    --Light_Grayish_Blue: hsl(210, 46%, 95%);
    --rounded_corner: 10px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    background-color: var(--Light_Grayish_Blue);
}

.article-card {
    max-width: 90vw;
    border-radius: var(--rounded_corner);
    margin-bottom: 10px;
    background-color: #ffffff;
    position: relative;
}

.article-card .image {
    width: 100%;
    height: 200px;
    background-image: url("../images/drawers.jpg");
    background-size: cover;
    background-position: 0 -20px;
    background-repeat: no-repeat;
    border-radius: var(--rounded_corner) var(--rounded_corner) 0px 0px;
}

.article-card>.content {
    padding: 25px 30px;
}

.article-card>.content>.title {
    color: var(--Very_Dark_Grayish_Blue);
}

.article-card>.content>.text {
    font-weight: 500;
    color: var(--Desaturated_Dark_Blue);
    font-size: 14px;
}

.article-card>.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 15px 30px;
    border-radius: 0px 0px var(--rounded_corner) var(--rounded_corner);
}

.article-card>.footer>.data {
    display: flex;
    align-items: center;
}

.footer>.data>.avatar {
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.footer>.data .author {
    font-weight: 700;
    margin: 0;
    color: var(--Desaturated_Dark_Blue);
}

.footer>.data .date {
    margin: 0;
    color: var(--Grayish_Blue);
}

.footer>.share-button {
    height: 30px;
    width: 30px;
    background-color: var(--Light_Grayish_Blue);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
}

.footer>.share-button>.icon {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("../images/icon-share.svg");
    background-repeat: no-repeat;
    background-position: 70% 50%;
}

.share {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--Very_Dark_Grayish_Blue);
    border-radius: 0 0 var(--rounded_corner) var(--rounded_corner);
    position: absolute;
    bottom: 0px;
}

.share.active {
    display: flex;
}

.share>.content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share>.content>.text {
    letter-spacing: 5px;
    color: var(--Grayish_Blue);
}

.content>.share-button,
.share>.icon-share {
    height: 25px;
    width: 25px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    outline: none;
}

.share-button>.icon-facebook,
.share-button>.icon-twitter,
.share-button>.icon-pinterest,
.share>.icon-share>.icon {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.share-button>.icon-facebook {
    background-image: url("../images/icon-facebook.svg");
}

.icon-twitter {
    background-image: url("../images/icon-twitter.svg");
}

.icon-pinterest {
    background-image: url("../images/icon-pinterest.svg");
}

.share>.icon-share {
    border-radius: 50%;
    background-color: var(--Desaturated_Dark_Blue);
    outline: none;
}

.icon-share>.icon {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    padding: 5px;
}

.icon-share>.icon>svg {
    fill: #ffffff;
}

@media only screen and (min-width: 600px) {
    .article-card {
        max-width: 580px;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "image content"
            "image footer";
    }

    .article-card .image {
        grid-area: image;
        width: 250px;
        height: 100%;
        background-position: 0 0;
        border-radius: var(--rounded_corner) 0 0 var(--rounded_corner);
    }

    .article-card>.content {
        grid-area: content;
        padding-bottom: 0;
    }

    .article-card>.footer {
        grid-area: "footer";
        padding-bottom: 30px;
    }

    .share {
        width: 56.85%;
        padding: 22px;
        bottom: 0;
        right: 0;
        border-radius: 0 0 var(--rounded_corner);
    }

    .share>.content {
        width: 100%;
    }

    .share>.icon-share {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .share {
        width: 300px;
        bottom: 90px;
        right: -17.8%;
        padding: 15px;
        border-radius: var(--rounded_corner);
    }

    .share::after {
        content: "";
        display: block;
        height: 20px;
        width: 20px;
        background-color: inherit;
        transform: rotate(45deg);
        position: relative;
        bottom: -27px;
        left: calc(-50% + 10px);
    }
}

@media only screen and (min-width: 1440px) {
    .article-card {
        max-width: 725px;
    }

    .article-card .image {
        width: 275px;
        height: 100%;
    }

    .article-card>.content>.title {
        font-size: 1.4rem;
        margin: 0;
    }

    .share {
        width: 300px;
        bottom: 90px;
        right: -18%;
        border-radius: var(--rounded_corner);
    }
}